# Python
.venv/
venvs/
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Obsidian local state (keep plugins in git if desired)
/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
# /.obsidian/**
